# All cleansed data from  local PostgreSQL to Azure Cloud Postgre SQL


### Opens the connection and extracts the stocks data from local postgreSQL and loads the same to Azure cloud enviornment's postgreSQL

#### Author: Rohan Indrajeet Jadhav [x20169043@studemt.ncirl.ie]

#### Contents

1. Read the data from Local postgre SQL DB
2. Format the data based on requirement
3. Open the Connection to Azure postgreSQL
4. Load the data to Azure PostgreSQL

In [1]:
# Importing the required libraries

import pymongo
from pprint import pprint  
import pandas as pd
import yfinance as yf
import psycopg2

from pandas_datareader import data, wb
import numpy as np
import datetime
import warnings
import psycopg2.extras as extras

In [2]:

# Variables to connect zure based postgreSQL

host = "postgresqlserver11.postgres.database.azure.com"
dbname = "covidstockanalysis"
user = "covidstock@postgresqlserver11"
password = "rjadha14!123"
sslmode="require"

In [3]:

# Construct connection string for azure SQL
try:
    conn_string = "host={0} user={1} dbname={2} password={3} sslmode={4}".format(host, user, dbname, password, sslmode)
    azureConnection = psycopg2.connect(conn_string)
    print("Connection established")
    psycopg2.__version__
    azureConnection.autocommit = True
except:
    print("Connection error please check connection variables")

Connection established

In [4]:
# Create a table on cloud postgreSQL

azureCursor = azureConnection.cursor()
azureConnection = psycopg2.connect(conn_string)

createtableSql = """CREATE TABLE stockdata
(
    stockname character varying(50) COLLATE pg_catalog."default",
    countryname character varying(50) COLLATE pg_catalog."default",
    stockdate date NOT NULL,
    openvalue numeric(10,4),
    closevalue numeric(10,4),
    high numeric(10,4),
    low numeric(10,4),
    adjclose numeric(10,4),
    volume integer
);"""

try:
    azureCursor.execute(createtableSql)
    print("Azure table ")
except:
    print("Error in creating table: Check if table is present already ")
    

#azureCursor.close()
#azureConnection.close()

Error in creating table: Check if table is present already

In [5]:
recordCounter = 0
localConnection = psycopg2.connect(database="postgres", user="postgres", password="Optum@2021", host="127.0.0.1", port="5432")
print("Database opened successfully")
localCursor = localConnection.cursor()

#columnNames = []
#for col in localCursor.description:
#    columnNames.append(col[0])
#print(columnNames)

columnNames = ['stockName', 'countryName', 'stockDate', 'openValue', 'closeValue', 'high', 'low', 'adjClose', 'volume']
extractSQL = "SELECT * from stockdata"



localCursor.execute(extractSQL)

rows = localCursor.fetchall()

df = pd.DataFrame(rows,columns=columnNames)

df

Database opened successfully

,stockName,countryName,stockDate,openValue,closeValue,high,low,adjClose,volume
0,CGIX,Austria,2019-11-01,3.120000,3.160000,3.368000,2.921600,3.160000,215370.0
1,CGIX,Austria,2019-11-04,3.180000,3.430000,3.580000,3.120000,3.430000,324657.0
2,CGIX,Austria,2019-11-05,3.490000,3.330000,3.800000,3.270000,3.330000,307128.0
3,CGIX,Austria,2019-11-06,3.290000,3.080000,3.320000,3.020000,3.080000,99570.0
4,CGIX,Austria,2019-11-07,3.070000,3.000000,3.100000,2.860000,3.000000,113341.0
...,...,...,...,...,...,...,...,...,...
9405,VEA,European,2021-04-19,51.410000,51.220001,51.459999,51.110001,51.220001,15499900.0
9406,VEA,European,2021-04-20,50.740002,50.369999,50.779999,50.279999,50.369999,11657400.0
9407,VEA,European,2021-04-21,50.250000,50.830002,50.860001,50.209999,50.830002,11195800.0
9408,VEA,European,2021-04-22,50.919998,50.619999,50.959999,50.549999,50.619999,9660600.0
9409,VEA,European,2021-04-23,50.860001,51.134998,51.136799,50.840000,51.134998,3969804.0

In [6]:
conn_string = "host={0} user={1} dbname={2} password={3} sslmode={4}".format(host, user, dbname, password, sslmode)
azureConnection = psycopg2.connect(conn_string)
print("Connection established to azure postgreSQL")

Connection established to azure postgreSQL

In [7]:
def azure_insert_rows(connection,df, table):

    azureCursor = azureConnection.cursor()
    # Create a list of tupples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    
    azureCursor = azureConnection.cursor()
    
    truncateSQL = "truncate table {0}".format(table)
    
    query  = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    try:
        azureCursor.execute(truncateSQL)
        extras.execute_values(azureCursor, query, tuples)
        azureConnection.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        azureConnection.rollback()
        azureCursor.close()
        return 1
    print("Records are inserted successfully !!")
    azureCursor.close()

In [8]:
azure_insert_rows(azureConnection, df ,"stockdata")

Error: cannot convert NaN to integer

1

In [ ]:
%run ./read_from_mongoDB.ipynb